@font-face{font-family:Gotham;src:url(../gotham.ttf)}
body {
	background-color: #ecf0f3;
}
/*@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}*/
#header {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 10px 20px -12px rgba(0,0,0,.42), 0 3px 20px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.dblock {
	display: block;
}
#header img {
	width: 100%;
}
#header h2 {
	text-align: center;
}
#cards a {
    display: block;
    color: #333;
    width: 25%;
}
@media (max-width: 992px) {
    #cards a {
        width: 50%;
    }
    .card-item {
        margin: 5px!important;
    }
}
.card-item {
	text-align: center;
    background-color: #fff;
    box-shadow: 3px 2px 10px 1px rgba(45,45,45,.2);
    padding: 20px 10px 0;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.stiker {
    display: none;
	/*position: absolute;
	background-color: #e99c29;
    transform: rotate(-45deg);
    left: -108px;
    color: #fff;
    top: 25px;
    width: 300px;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: .90em;
    font-weight: 700;
    padding: 5px 15px;
    box-shadow: 0 2px 10px #575757;*/
}
.stiker-red {
	background-color: #a20505;
}
.stiker-blue {
	background-color: #1e73be;
}
.stiker-green {
	background-color: #16ba78;
}
.card-item img {
    width: 90%;
}
.card-item .important {
    text-align: center;
	color: #000;
    margin: 10px 0 5px 0;
    padding: 10px 0;
    font-size: 16px;
    border-top: 2px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
}
.card-info {
    font-family: Gotham, sans-serif;
	padding: 10px 0;
    font-size: 13px;
    margin-bottom: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*.card-info p {
    font-size: .75em;
    line-height: 1.2;
    margin-bottom: 0;
}*/
.card-info span {
    font-weight: 700;
    color: #CC29CC;
}
.btn {
	background-color: #00bc52;
    padding: 7px 20px;
    color: #fff !important;
    border: 1px solid #00bc52;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.clear {
    clear: both;
}
@media (max-width: 992px)  {
    .btn {
        padding: 10px;
        font-size: 14px;
        width: 90%;
    }
    #header {
        padding: 10px;
    }
    #header h2 {
        font-size: 22px;
    }
    .left {
        display: none;
    }
    .right {
        float: none;
        text-align: center;
    }
    .card-info {
        padding: 5px 0;
        margin-bottom: 0;
    }
    .alertbuywindow {
        left: 0 !important;
        bottom: 0 !important;
        width: 100%;
        background: #00bc52 !important;
        border-radius: 0 !important;
        color: #fff !important;
    }
    .alertbuywindow > b {
        font-size: 20px !important;
        color: #fff !important;
    }
    .alertbuywindow .alerttitle,
    .alertbuywindow .alertcredit {
        display: none;
    }
}
.btn:hover {
	opacity: .9;
	transition: .5s;
}

/* calc */
.calc {
    padding-top: 20px;
}
.calc .row {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.calc-form {
    width: 100%;
    border-radius: 10px 0 0 10px;
    padding: 0 20px 10px;
    background: #fff;
}
.calc-form input {
    width: 100%;
}
.calc-form .btn {
    width: 100%;
}
.min_max {
    display: flex;
    justify-content: space-between;
}
.comission {
    border-radius: 10px;
    background: #ecf0f3;
    padding: 15px;
    margin-bottom: 10px;
}
.comission-label,
.comission-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comission-label span:nth-child(2) {
    margin-right: 25px;
}
.comission-count p {
    margin-bottom: 0;
}
.calc-form input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    height: 20px;
}
.calc-form input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-top: -7px;
}
.calc-form input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-top: -7px;
}
.calc-form input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #34a853;
    border-radius: 5px;
}
.calc-form input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #34a853;
    border-radius: 5px;
}
.calc-form input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #34a853;
    border-radius: 5px;
}
.conditions {
    padding: 25px;
    background: #fff;
    border-radius: 0 10px 10px 0;
}
@media (max-width: 768px) {
    .calc-form {
        border-radius: 10px 10px 0 0;
    }
    .conditions {
        border-radius: 0 0 10px 10px;
    }
}
@media (min-width: 768px) {
    .calc .row {
        flex-direction: row;
    }
    .calc-form {
        width: 50%;
        border-radius: 10px 10px 0 0;
    }
    .conditions {
        width: 50%;
        padding-left: 40px;
        border-radius: 0 0 10px 10px;
    }
}

/* mfo-details */
.mfo-details .row {
    padding-left: 5px;
    padding-right: 5px;
}
.mfo-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
	width: 100%;
}
.label {
    width: 160px;
    margin: 0 auto 15px;
    background: #34a853;
    padding: 5px 15px;
    color: #fff;
}
.mfo-item {
    padding: 10px;
}
.mfo-link {
    display: block;
    height: 100%;
    color: inherit;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
}
.mfo-link:hover {
    color: inherit;
    text-decoration: none;
}
thead {
    border-bottom: 1px solid #333;
}
thead,
tbody tr:nth-child(even) {
    background: #ecf0f3;
}
th, td {
    padding: 5px;
}
th {
    height: 68px;
}

@media (min-width: 768px) {
    .mfo-details {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .mfo-item {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .mfo-item {
        width: 33.33%;
    }
}

#footer {
	background-color: #ecf0f3;
    color: #1e1e1e;
    padding: 25px;
    clear: both;
}
#footer .info>h3,
#footer .creditors-info,
#footer .links>h3 {
	font-size: 18px;
	padding: 10px 15px;
	background-color: #0b0a0a;
	color: #f9f3f3;
	border-bottom: 1px solid #fff;
}
.creditors-info h3 {
    font-size: 16px;
}
#footer ul {
	list-style: none;
	padding-inline-start: 0px;
}
#footer a {
	color: #1e1e1e;
}
#footer .creditors-item {
    border: 1px solid #333;
    padding: 10px 10px 0;
    width: 50%;
}
.creditors-item h3 {
    font-size: 16px;
}
.creditors-item p {
    font-size: 14px;
}
#footer .creditors>ul>li {
    float: left;
    width: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 14px;
}